* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* Header Stylings */
.site-title {
  display: none;
}

.header-container {
  display: grid;
  padding: 1.875rem 5rem;
  grid-template-areas: "logo nav nav-icons";
  grid-template-columns: auto 2fr 1fr;
  font-family: "quicksand";
  padding: 0.8rem 5rem;
}
hr {
  border-top: 1px solid var(--wp--preset--color--dusty-rose);
}
/* .site-branding {
} */

.main-navigation {
  grid-area: nav;
  align-self: center;
  text-align: center;
}

.pko-nav-icons {
  grid-area: nav-icons;
  align-self: center;
  text-align: end;
}

li {
  padding-right: 2.25rem;
}

li a {
  color: black;
  font-family: "Quicksand";
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: none;
}

li a:visited {
  color: black;
  text-decoration: none;
}

li a:hover {
  color: black;
  border-bottom: 1px solid var(--wp--preset--color--dusty-rose);
}

ul li {
  display: inline-block;
}

.pko-button {
  background-color: #fff;
  border: 2px solid #000;
  height: 2.5rem;
  width: 16rem;
}

/* Footer stlying */
.pko-footer {
  bottom: 0;
}

.pko-quiz-footer {
  background-color: var(--wp--preset--color--pastel-pink);
  height: 8rem;
  color: var(--wp--preset--color--black);
  font-family: "quicksand";
  align-self: center;
  text-align: center;
  padding: 1.5rem 0;
}

.pko-bottom-footer {
  display: grid;
  grid-template-areas:
    "second-nav . social-icons"
    "second-nav . subscribe-form";
  grid-template-columns: 3fr 1fr 1fr;
  background-color: var(--wp--preset--color--charcoal-brown);
  color: #fff;
  font-family: "quicksand";
  padding: 2rem 5rem;
}

.pko-bottom-footer h3,
p {
  padding-bottom: 0.313rem;
}

.pko-footer-nav {
  grid-area: second-nav;
}

.pko-footer-nav > h2 {
  font-size: 20px;
}

.pko-footer-nav li a {
  color: white;
  text-transform: capitalize;
}
.pko-footer-nav ul li {
  display: block;
  padding-bottom: 0.625rem;
}
.pko-footer-social-icons {
  grid-area: social-icons;
  padding-bottom: 0.8rem;
}

.pko-footer-social-icons i {
  color: white;
  background-color: white;
}
.fa-twitter,
.fa-instagram,
.fa-pinterest-p,
.fa-facebook-f {
  color: var(--wp--preset--color--pastel-pink);
  margin-right: 0.8rem;
}

.pko-footer-subscribe {
  grid-area: subscribe-form;
  max-width: 350px;
}

.pko-footer-subscribe h3 {
  font-size: 22px;
}

.pko-footer-subscribe p {
  font-size: 16px;
  padding: 0.8rem 0;
}

.fa-user,
.fa-cart-shopping {
  color: #404040;
  margin-right: 0.8rem;
}

#pko-form-box {
  background-color: var(--wp--preset--color--white);
  border: 2px solid var(--wp--preset--color--taupe);
  font-family: "quicksand";
  height: 2.5rem;
  width: 100%;
  max-width: 100%;
  margin-bottom: 0.8rem;
  padding: 0.313rem;
}

.pko-footer-button {
  background-color: var(--wp--preset--color--pastel-pink);
  border: 2px solid var(--wp--preset--color--dusty-rose);
  height: 2.5rem;
  width: 100%;
}

/* Margin Styling */

.entry-header {
  display: none;
}
