/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.site-title {
  display: none;
}

.header-container {
  display: flex;
  padding: 1.875rem 5rem;
}
hr {
  border-top: 1px solid #ffbcbd;
}
/* .site-branding {
} */

.main-navigation {
  align-items: center;
  align-content: center;
  align-self: center;
  padding-left: 3rem;
}

li {
  padding-right: 2.25rem;
}

li a {
  color: black;
  font-family: "Quicksand";
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: none;
}

li a:visited {
  color: black;
  text-decoration: none;
}

li a:hover {
  color: black;
  border-bottom: 1px solid #f9a631;
}

ul li {
  display: inline-block;
}

.pko-button {
  background-color: #fff;
  border: 2px solid #000;
  height: 2.5rem;
  width: 16rem;
}

/* Footer stlying */
.pko-footer {
  bottom: 0;
}

.pko-quiz-footer {
  background-color: #fad6c6;
  height: 8.75rem;
  color: #000;
  text-align: center;
  padding: 1.25rem;
}

.pko-bottom-footer {
  display: grid;
  grid-template-areas:
    "second-nav . social-icons"
    "second-nav . subscribe-form";
  grid-template-columns: 3fr 1fr 1fr;
  background-color: #f8edeb;
  font-family: "quicksand";
  padding: 0.8rem 7.5rem;
}

.pko-bottom-footer h3,
p {
  padding-bottom: 0.313rem;
}

.pko-footer-nav {
  grid-area: second-nav;
}

.pko-footer-social-icons {
  grid-area: social-icons;
  padding-bottom: 0.8rem;
}

.pko-footer-subscribe {
  grid-area: subscribe-form;
  max-width: 350px;
}

.pko-footer-subscribe h3 {
  font-size: 24px;
  padding: 0.8rem 0;
}

.pko-footer-subscribe p {
  font-size: 16px;
  padding: 0.8rem 0;
}

#pko-form-box {
  background-color: #fff;
  border: 2px solid #ffc4c4;
  height: 2.5rem;
  width: 100%;
  max-width: 100%;
  padding: 0.313rem;
  margin-bottom: 0.8rem;
}

.pko-footer-button {
  background-color: #fff;
  border: 2px solid #000;
  height: 2.5rem;
  width: 100%;
}
