.wp-block-quote {
  color: blue;
}

.wp-block-quote.is-style-fancy-quote {
  color: tomato;
}

/* .wp-block-button.is-style-outline {
  border: 1px solid orange;
} */

/* .is-style-outline > :where(.wp-block-button__link) {
  border: 2px solid orange;
} */
h2 {
  font-family: "Quicksand";
}
